[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "tmux-plugins/tmux-resurrect"]
	path = tmux-plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
