[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "tmux-plugins/tmux-resurrect"]
	path = tmux-plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/robotframework-vim"]
	path = bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "tmux-plugins/tpm"]
	path = tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm
